.comment-block {
  display        : flex;
  width          : 300px;
  flex-direction : column;
}

.comment-name {
  color     : brown;
  font-size : 20px;
}

.comment-text {
  padding    : 20px;
  border-top : 1px dashed black;
}

.comment-button {
  margin      : 10px;
  border      : 0;
  background  : white;
  outline     : none;
  box-shadow  : none;
  align-self  : flex-start;
  font-family : 'Vollkorn', serif;
  font-size   : 15px;
  cursor      : pointer;
}

.comment-button:hover {
  color : gray;
}
