@font-face {
  font-family: 'DINPro-CondBold';
  src: url('./fonts/DINPro-CondBold.otf');
}

@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('./fonts/GothamPro.eot');
  src: url('./fonts/GothamPro.eot') format('embedded-opentype'),
  url('./fonts/GothamPro.woff') format('woff'),
  url('./fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: 'DINPro-CondBold';
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 1;
}

body:after {
  content:
      url(./img/background.png)
      url(./img/pants.png)
      url(./img/shoes.png)
      url(./img/jacket.png);
  display: none;
}