.main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 1s step-end;
}

.container {
    position: absolute;
    margin: 10px 24px;
    width: calc(100% - 48px);
    height: calc(100% - 20px);
}

.container__nikeLogo {
    width: 67px;
    height: 34px;
}

.container__upperCentralText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    font-weight: bold;
    color: white;
    opacity: 0.2;
}

.container__menu {
    position: absolute;
    right: 0;
    width: 30px;
    height: 12px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.container__menu:hover {
    width: 30px;
    height: 16px;
}

.container__arrowUp {
    position: absolute;
    left: 0;
    top: 46%;
    width: 14px;
    height: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.container__arrowDown {
    position: absolute;
    left: 0;
    top: 54%;
    width: 14px;
    height: 8px;
    transform: translateY(-50%);
    cursor: pointer;
}

.container__leftBottomText {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.container__leftBottomTextSecond {
    position: absolute;
    bottom: 4px;
    left: 65px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.6;
}

.container__centralBottomBlock {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;

    .centralBottomBlock__upperBlock {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .upperBlock__text {
            color: white;
            font-size: 10px;
            font-family: 'Gotham Pro Regular';
            opacity: 0.6;
            transition: all 0.6s ease;
        }
    }

    .centralBottomBlock__bottomBlock {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .bottomBlock__whiteCircle{
            width: 12px;
            height: 12px;
            margin-right: 8px;
            cursor: pointer;
        }
        
        .bottomBlock__points {
            display: flex;
            align-items: center;

            .points__point {
                width: 4px;
                height: 4px;
                margin: 2px;
            }
        }

        .bottomBlock__blackCircle {
            width: 12px;
            height: 12px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
}

.container__rightCentralText {
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
    transform: rotate(90deg);
    color: white;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.6;

    a {
        opacity: inherit;
    }

    .rightCentralText__slash {
        margin: 0 10px 0 10px;
    }
}

.container__instagram {
    position: absolute;
    right: 90px;
    bottom: 4px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.6;
}

.container__facebook {
    position: absolute;
    right: 45px;
    bottom: 4px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.6;
}

.container__language {
    position: absolute;
    right: 0;
    bottom: 4px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.6;
}

.container__centralTextBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    color: white;
    font-weight: bolder;

    .centralTextBlock__upper {
        font-size: 12px;
        opacity: 0.3;
    }

    .centralTextBlock__middle {
        font-size: 36px;
    }
    
    .centralTextBlock__bottom {
        font-size: 10px;
        font-family: 'Gotham Pro Regular';

        .bottom__leftHref {
            opacity: 0.6;
        }
        .bottom__leftHref:hover {
            opacity: 1;
        }

        .bottom__verticalLine {
            margin: 0 10px 0 10px;
            font-weight: normal;
            opacity: 0.6;
        }

        .bottom__rightHref {
            opacity: 0.6;
        }
        .bottom__rightHref:hover {
            opacity: 1;
        }
    }
}